@import "../../node_modules/ant-design-vue/es/style/themes/default";
// @import "../../node_modules/ant-design-vue/es/style/themes/dark";

// //top header
// @height-header: 48px;
@bg-header: #89888f;

//logo
.bg-img(@img) {
    background-image:url("@{img}");
}

// //padding
// @pg: 2rem;

// //radius
// @radius: 1.75rem;

//card weather
@card-txt: white;
.bg-linear(@colorOne, @colorTwo ){
    background: linear-gradient(30deg, @colorOne 50%, @colorTwo 90%);
}

.icon-Animated(@url){
    background: url("./../assets/openweathermap/@{url}.svg");
}
