@import '@/styles/var.less';

@size: 9em;

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.block-init{

    background: @body-background;
    height: 100%;
    width: 100%;
    border-radius: 1.75rem;
    box-shadow: .5rem .5rem .5rem @shadow-color;
    max-width: 60%;
    margin: 7em auto;
    padding: 1.5em;
    text-align: center;
    .ant-col {
        > p {
            font-size: 16px;
        }
    }
}

.newsletter{

    // padding: 1em;
    margin-top: 4em !important;
    background: @body-background;
    height: 100%;
    width: 100%;
    border-radius: 1.75rem;
    box-shadow: .5rem .5rem .5rem @shadow-color;
    .tt-feed {  

        padding: 24px;
        .tt-header {
            
            display: flex;
            // margin-bottom: .7em;
            & span {

                margin-top: .5em;
                margin-left: .7em;
            }
        }
        .tt-content{

            border-right: solid 5px #c3c3c3;
            border-radius: 1.2em;
            .ant-spin-nested-loading{
                > div {
                    > .ant-spin {
                        > .ant-spin-dot{
            
                            position: static;
                            top: 0;
                            left: 0;
                            margin: 4em 2em 0 0;
                        }
                    }
                }
                .indicator-loading{

                    width: 3em;
                    height: 3em;
                }
                .ant-spin-blur {
                    opacity: 0.2;
                }
            }
            .tt-username{

                color: #16d9ad;
            }
            .avatar{

                width: 52px;
                height: 52px;
                border-radius: 50%;
            }
        }
    }
    .week-days{

            .ant-spin-nested-loading{
                > div {
                    > .ant-spin {
                        > .ant-spin-dot{
            
                            position: static;
                            top: 0;
                            left: 0;
                            margin: 6em 2em 0 0;
                        }
                    }
                }
                .indicator-loading{

                    width: 3em;
                    height: 3em;
                }
                .ant-spin-blur {
                    opacity: 0.2;
                }
            }
        .card-day{

            height: 280px;
            text-align: center;
            background: @body-background;
            h2{
                // color: #16d9ad;
                font-weight: bold;
            }
            .icon {
                
                margin: 0 auto;
                display: block;
                width: @size; 
                height: @size;
                &.sun { background: url('../../assets/openweathermap/03d.svg');}
            }
            .ant-card-body{

                > span {

                    display: block;
                }
            }
        }
    }
}